extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = 'Main page'
	- const bodyClass = 'main-page'

block content
	main.main
		.m-sections
			.m-section(data-scroll-section)
				+b.SECTION.s-main-top#main-top
					+e.inner
						//- +e.inner-cnt
						.container
							+e.block
								+e.block-inner
									+e.block-title
										+e.H1.block-title-inner У нас есть опыт в решении любых вопросов, связанных с акустикой
								
									+e.A.block-more(href='#')
										+e.block-more-icon
											svg.svg-icon(viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg')
												circle(cx='33.5' cy='33.5' r='32' stroke-width='3')
												path(d='M31 28l5.743 5.743L31 39.485' stroke-width='1.5' stroke-linecap='round')

					+e.A.next.js-scroll-to-id(href="#recording-studio")
						+e.next-icon
							+icon('arrow-down')
					
					+e.bg
						+e.VIDEO(autoplay muted preload='auto' loop poster='/video/main-page//bg-video-poster.jpg').bg-video
							source(src='/video/main-page/bg-video.mp4' type='video/mp4')
							source(src='/video/main-page/bg-video.webm' type='video/webm')


			.m-section(data-scroll-section)
				+b.SECTION.s-main-item.--recording-studio.js-reveal#recording-studio
					+e.HEADER.header
						.container
							+e.H2.header-title.js-text-fadeup-lines(data-duration="0.7" data-delay="0") Студии звукозаписи, теле и радиовещания
						
					+e.body
						+e.body-inner
							.container
								+e.block.--recording-studio
									+e.block-inner
										+e.block-text.text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
											p.text-cover Проектирование, строительство, поставка оборудования, интеграция систем.
									
										+e.block-more-wrap.fade-in-up(data-scroll data-scroll-call="fadeInUp" data-scroll-offset="0%" data-duration="0.5" data-delay="0.4")
											+e.A.block-more(href="#")
												| Подробнее 
												+e.block-more-icon
													+icon('more-arrow-right')

						+e.body-bg
							+e.IMG.body-bg-img(src="/img/main/recording-studio.jpg" alt="Студии звукозаписи, теле и радиовещания")

			.m-section(data-scroll-section)
				+b.SECTION.s-main-item.--cinema-hall.js-reveal#cinema-hall
					+e.HEADER.header
						.container
							+e.H2.header-title.js-text-fadeup-lines(data-duration="0.7" data-delay="0") Концертные и театральные залы, кинотеатры, конференц залы
						
					+e.body
						+e.body-inner
							.container
								+e.block.--cinema-hall
									+e.block-inner
										+e.block-text.text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
											p.text-cover Улучшение разборчивости речи. Создание правильной структуры первых отражений звука и диффузного звукового поля, обеспечение требуемого времени реверберации. Звукоизоляция.
									
										+e.block-more-wrap.fade-in-up(data-scroll data-scroll-call="fadeInUp" data-scroll-offset="0%" data-duration="0.5" data-delay="0.4")
											+e.A.block-more(href="#")
												| Подробнее 
												+e.block-more-icon
													+icon('more-arrow-right')

						+e.body-bg
							+e.IMG.body-bg-img(src="/img/main/cinema-hall.jpg" alt="Концертные и театральные залы, кинотеатры, конференц залы")

			.m-section(data-scroll-section)
				+b.SECTION.s-main-item.--school.js-reveal#school
					+e.HEADER.header
						.container
							+e.H2.header-title.js-text-fadeup-lines(data-duration="0.7" data-delay="0") Образовательные учреждения
						
					+e.body
						+e.body-inner
							.container
								+e.block.--school
									+e.block-inner
										+e.block-text.text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
											p.text-cover Звукоизоляция классов и аудиторий, создание комфортной акустической среды для обучения, в соответствии с международным стандартом DIN 18041.  
									
										+e.block-more-wrap.fade-in-up(data-scroll data-scroll-call="fadeInUp" data-scroll-offset="0%" data-duration="0.5" data-delay="0.4")
											+e.A.block-more(href="#")
												| Подробнее 
												+e.block-more-icon
													+icon('more-arrow-right')

						+e.body-bg
							+e.IMG.body-bg-img(src="/img/main/school.jpg" alt="Образовательные учреждения")

			.m-section(data-scroll-section)
				+b.SECTION.s-main-item.--night-clubs.js-reveal#night-clubs
					+e.HEADER.header
						.container
							+e.H2.header-title.js-text-fadeup-lines(data-duration="0.7" data-delay="0") Ночные клубы и караоке
						
					+e.body
						+e.body-inner
							.container
								+e.block.--night-clubs
									+e.block-inner
										+e.block-text.text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
											p.text-cover Создание качественного звука
									
										+e.block-more-wrap.fade-in-up(data-scroll data-scroll-call="fadeInUp" data-scroll-offset="0%" data-duration="0.5" data-delay="0.4")
											+e.A.block-more(href="#")
												| Подробнее 
												+e.block-more-icon
													+icon('more-arrow-right')

						+e.body-bg
							+e.IMG.body-bg-img(src="/img/main/night-clubs.jpg" alt="Ночные клубы и караоке")

			.m-section(data-scroll-section)
				+b.SECTION.s-main-item.--offices.js-reveal#offices
					+e.HEADER.header
						.container
							+e.H2.header-title.js-text-fadeup-lines(data-duration="0.7" data-delay="0") Офисные здания, отели, частные резиденции
						
					+e.body
						+e.body-inner
							.container
								+e.block.--offices
									+e.block-inner
										+e.block-text.text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
											p.text-cover Звукоизоляция переговорных комнат и кабинетов, помощь в сертификации по международным стандартам LEED и CISCO. Создание комнат домашних кинотеатров.
									
										+e.block-more-wrap.fade-in-up(data-scroll data-scroll-call="fadeInUp" data-scroll-offset="0%" data-duration="0.5" data-delay="0.4")
											+e.A.block-more(href="#")
												| Подробнее 
												+e.block-more-icon
													+icon('more-arrow-right')

						+e.body-bg
							+e.IMG.body-bg-img(src="/img/main/offices.jpg" alt="Офисные здания, отели, частные резиденции")

			.m-section(data-scroll-section)
				+b.SECTION.s-main-item.--gym.js-reveal#gym
					+e.HEADER.header
						.container
							+e.H2.header-title.js-text-fadeup-lines(data-duration="0.7" data-delay="0") Спортивные сооружения
						
					+e.body
						+e.body-inner
							.container
								+e.block.--gym
									+e.block-inner
										+e.block-text.text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
											p.text-cover Акустическая обработка внутренних поверхностей спортивных сооружений для соблюдения нормативной работы систем оповещения Public Address.
									
										+e.block-more-wrap.fade-in-up(data-scroll data-scroll-call="fadeInUp" data-scroll-offset="0%" data-duration="0.5" data-delay="0.4")
											+e.A.block-more(href="#")
												| Подробнее 
												+e.block-more-icon
													+icon('more-arrow-right')

						+e.body-bg
							+e.IMG.body-bg-img(src="/img/main/gym.jpg" alt="Спортивные сооружения")

			.m-section(data-scroll-section)
				+b.SECTION.s-main-item.--medical-center.js-reveal#medical-center
					+e.HEADER.header
						.container
							+e.H2.header-title.js-text-fadeup-lines(data-duration="0.7" data-delay="0") Медицинские центры
						
					+e.body
						+e.body-inner
							.container
								+e.block.--medical-center
									+e.block-inner
										+e.block-text.text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
											p.text-cover Звукоизоляция врачебных кабинетов, операционных больниц и палат санаториев в соответствии с СП 51.13330.2011
									
										+e.block-more-wrap.fade-in-up(data-scroll data-scroll-call="fadeInUp" data-scroll-offset="0%" data-duration="0.5" data-delay="0.4")
											+e.A.block-more(href="#")
												| Подробнее 
												+e.block-more-icon
													+icon('more-arrow-right')

						+e.body-bg
							+e.IMG.body-bg-img(src="/img/main/medical-center.jpg" alt="Медицинские центры")

			.m-section(data-scroll-section)
				+b.SECTION.s-main-item.--government.js-reveal#government
					+e.HEADER.header
						.container
							+e.H2.header-title.js-text-fadeup-lines(data-duration="0.7" data-delay="0") Правительственные здания и учреждения
						
					+e.body
						+e.body-inner
							.container
								+e.block.--government
									+e.block-inner
										+e.block-text.text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
											p.text-cover Звукоизоляция кабинетов, офисов, залов судебных заседаний
									
										+e.block-more-wrap.fade-in-up(data-scroll data-scroll-call="fadeInUp" data-scroll-offset="0%" data-duration="0.5" data-delay="0.4")
											+e.A.block-more(href="#")
												| Подробнее 
												+e.block-more-icon
													+icon('more-arrow-right')

						+e.body-bg
							+e.IMG.body-bg-img(src="/img/main/government.jpg" alt="Правительственные здания и учреждения")

		+b.m-sections-nav
			+e.UL.list
				+e.LI.item.is-active(data-id="main-top")
				+e.LI.item(data-id="recording-studio")
				+e.LI.item(data-id="cinema-hall")
				+e.LI.item(data-id="school")
				+e.LI.item(data-id="night-clubs")
				+e.LI.item(data-id="offices")
				+e.LI.item(data-id="gym")
				+e.LI.item(data-id="medical-center")
				+e.LI.item(data-id="government")
