extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = 'Услуги - детальная'
	- const bodyClass = 'services-page'

block content
	main.main
		+b.SECTION.s-services-banner.desktop-nml(data-scroll-section)
			+e.inner
				.container-md
					+e.block
						+e.block-inner
							+e.block-text(data-scroll data-scroll-call="revMask" data-scroll-offset="0%")
								h1.text-cover Акустическая экспертиза
						
			+e.bg
				//+e.SPAN.bg-span.js-parallax-img(style="background-image: url('/img/services/item-banner.jpg'" data-trigger=".s-services-banner")
				+e.IMG.bg-img.js-parallax-img(src="/img/services/item-banner.jpg" alt="Акустическая экспертиза" data-trigger=".s-services-banner")


		+b.SECTION.s-services-text.desktop-nml(data-scroll-section)
			.container-md
				+e.text.text
					p Помимо теоретических расчетов и моделирования, инженеры нашей компании проводят натурные измерения акустических характеристик помещений любого типа. На основании проведенной  экспертизы составляется акустический паспорт помещения, который может включать следующие параметры:
					ul
						li спектральный анализ уровней шумов в помещении;
						li уровень изоляции ударного шума межэтажными перекрытиями;
						li уровень изоляции воздушного шума ограждающими конструкциями;
						li время реверберации RT60;
						li импульсные характеристики помещения  (для звукозаписывающих студий);
						li расчет индексов четкости С50, прозрачности С80, пространственного впечатления R, индекса передачи  быстрой речи RASTI (для помещений с большим количеством зрительских мест).
					ul 
						li точно откалиброванный микрофон и предусилитель фирмы ibf-akustik. (Ingenieurbuero f. Akustik, Elektronik, Messtechnik Alexanderstr 66 DE-68519 Viernheim Germany);
						li прецизионного шумомера Testo 816;
						li программного обеспечения ETF фирмы Acoustic Soft Inc. (260 Wellesley St E PH14 Toronto Ontario Canada M4X 1G6);
						li программного обеспечения Sample Champion фирмы Purebits (Author Paolo Guidorzi, Release Date 15 02 2004);
						li программного обеспечения “Wave Lab” и “Sound Forge Pro 10.0.”

		//- +b.SECTION.s-feedback.--services.desktop-nml#feedback(data-scroll-section)
		//- 	.container-md
		//- 		+e.form
		//- 			+feedback

		+b.SECTION.s-services.--inner(data-scroll-section)
			+e.inner
				+e.row
					+e.col
						//+b.A.service-item(href="#")
							+e.inner
								+e.num
									+e.num-inner 01
								+e.title
									+e.SPAN.title-inner Акустическая экспертиза
							
								+e.more-wrap
									+e.SPAN.more
										| Подробнее 
										+e.more-icon
											+icon('more-arrow-right')
							+e.bg
								+e.IMG.bg-img(src='/img/services/services-1.jpg' alt="Акустическая экспертиза")

					+e.col
						+b.A.service-item(href="#")
							+e.inner
								+e.num
									+e.num-inner 02
								+e.title
									+e.SPAN.title-inner Архитектурно акустическое проектирование
							
								+e.more-wrap
									+e.SPAN.more
										| Подробнее 
										+e.more-icon
											+icon('more-arrow-right')
							+e.bg
								+e.IMG.bg-img(src='/img/services/services-2.jpg' alt="Архитектурно акустическое проектирование")

					+e.col
						+b.A.service-item(href="#")
							+e.inner
								+e.num
									+e.num-inner 03
								+e.title
									+e.SPAN.title-inner Строительство
							
								+e.more-wrap
									+e.SPAN.more
										| Подробнее 
										+e.more-icon
											+icon('more-arrow-right')
							+e.bg
								+e.IMG.bg-img(src='/img/services/services-3.jpg' alt="Строительство")

					+e.col
						+b.A.service-item(href="#")
							+e.inner
								+e.num
									+e.num-inner 04
								+e.title
									+e.SPAN.title-inner Интеграция медиа систем
							
								+e.more-wrap
									+e.SPAN.more
										| Подробнее 
										+e.more-icon
											+icon('more-arrow-right')
							+e.bg
								+e.IMG.bg-img(src='/img/services/services-4.jpg' alt="Интеграция медиа систем")


		+b.breadcrumbs-block(data-scroll-section)
			.container
				+breadcrumbs(['Услуги'], title)