+b.FOOTER.footer
    +e.container.container
        +e.logo
            +b.A.footer-logo(href='/')
                +e.IMG.img(src='/img/svg/logo.svg' alt='Логотип')

        +e.main
            +e.main-row
                +e.main-col-inf
                    +e.inf
                        +e.inf-email
                            +e.A.inf-email-link(href='mailto:info@aspd.ru') info@aspd.ru

                        +e.SPAN.inf-address
                            +e.SPAN.inf-address-text
                                | 107078, г.Москва, 
                                br
                                | Орликов переулок 8

                        +e.SPAN.inf-phones
                            +e.SPAN.inf-phones-items
                                +e.SPAN.inf-phones-item
                                    +e.A.inf-phones-link(href='tel:+79251317179') + 7 (925) 131 7179
                                +e.SPAN.inf-phones-item
                                    +e.A.inf-phones-link(href='tel:+74999751119') + 7 (499) 975 1119
    
                +e.main-col-menu
                    +b.NAV.footer-nav
                        +e.UL.list
                            +e.LI.item
                                +e.A.link(href='#') Компания

                            +e.LI.item
                                +e.A.link(href='#') Услуги

                            +e.LI.item
                                +e.A.link(href='#') Проекты

                            +e.LI.item
                                +e.A.link(href='#') Контакты


                +e.main-col-directions

                    +b.footer-directions
                        +e.UL.list
                            +e.LI.item
                                +e.A.link(href='#') Студии звукозаписи
                            +e.LI.item
                                +e.A.link(href='#') Концертные залы
                            +e.LI.item
                                +e.A.link(href='#') Образовательные учреждения
                            +e.LI.item
                                +e.A.link(href='#') Ночные клубы
                            +e.LI.item
                                +e.A.link(href='#') Офисные здания
                            +e.LI.item
                                +e.A.link(href='#') Медицинские центры
                            +e.LI.item
                                +e.A.link(href='#') Спортивные сооружения
                            +e.LI.item
                                +e.A.link(href='#') Правительственные здания

        +e.bottom
            +e.bottom-row
                +e.bottom-col-copy
                    +e.P.copy &copy; 2021 АСПД 
                        
                +e.bottom-col-policy
                    +e.A.policy(href="#") Политика конфеденциальности 
