extends layouts/default
include helpers/mixins

block variables
	- const title = "Sitemap"

block content
	section(data-scroll-section)
		ul.ui-sitemap
			//- li
			//- 	a(href="404.html") 404
			li
				a(href="main-page.html") Главная
			//li
				a(href="ui.html") UI элементы
			li
				a(href="services.html") Услуги
			li
				a(href="services-item.html") Услуги детальная
			li
				a(href="directions.html") Направления
			li
				a(href="directions-item.html") Направления детальная
			li
				a(href="gallery.html") Галерея
			li
				a(href="404.html") 404 
			li
				a(href="about.html") О компании
			li
				a(href="inner-text.html") Внутренняя текстовая страница
			li
				a(href="articles.html") Статьи
			li
				a(href="articles-item.html") Статья детальная
			li
				a(href="contacts.html") Контакты 
	




