.s-about-banner {
    position: relative;
    z-index: 1 ;
    margin-top: -$headerHeight;
    padding-top: $headerHeight;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
    
    &__inner {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        overflow: hidden;
        
        &-img {
            @include fill-img;

        }
    }



    &__block {
        @extend .box-text-shadow;
        @extend .box-text-shadow--higher;
        max-width: px-to-rem(680);

        @include screen('xl') {
            &::before {
                opacity: 0;
                transition: opacity 0.5s 0.3s;
            }
            &.is-shadow::before {
                opacity: 1;
            }
        }
        
        &-inner {
            position: relative;
            z-index: 1;
        }
        &-text {
            margin: 0 0 px-to-rem(100);

            &-line-1 {
                @extend .page-title;
                display: block;
                margin: 0 0 px-to-rem(30);
                font-style: normal;

                h1,
                h2,
                h3,
                h4,
                p,
                span {
                    display: block;
                    margin: 0;
                    font-size: inherit;
                    font-weight: inherit;
                }
            }

            &-line-2 {
                display: block;
                font-size: px-to-rem(20);
                font-weight: 500;
                font-style: normal;
            }
        }

        &-more {
            @extend .link-resset;
            display: inline-block;
            transition: color 0.3s;

            @include hover {
                color: rgba(255, 255, 255, 0.7);
            }

            // @include screen('xl') {
            //     opacity: 0;
            //     .is-show-content & {
            //         opacity: 1;
            //     }
            // }

            &-icon {
                display: block;

                .svg-icon {
                    width: px-to-rem(67);
                    height: px-to-rem(67);

                    fill: none;
                    stroke: currentColor;
                }
            }
        }


    }
}



.s-certificates {
    padding: px-to-rem(100 ) 0 px-to-rem(150);

    &__top {
        margin: 0 0 px-to-rem(70);
    }
    &__title {
        @extend .section-title;
    }

    &__slider {
        &-wrap {
            position: relative;
            max-width: px-to-rem(1000);
        }

        position: relative;
        
        @include screen(xs) {
            .slick-list {
                // padding: 0 30px;
            }
        }
        .slick-track {
            // padding-bottom: 40px;
        }
        
        &-item {
            // text-align: center;
            // @include rule(padding, (xs: 0 10px 30px, lg: 0 15px 40px));
            // transition: opacity 0.3s;
            // display: flex !important;
            justify-content: center;
            &:not(.slick-slide):not(:first-child) {
                display: none;
            }
            // &:not(.slick-active) {
            //     opacity: 0;
            // }
        }

        &-controls {
            position: absolute;
            z-index: 100;
            top: 50%;
            right: px-to-rem(-100);
            left: px-to-rem(-100);
            height: 0;
            // width: 100%;
            transform: translateY(-50%);

            display: flex;
            justify-content: space-between;
        }

        &-controls {

        }

    }

}
