.project-item {
    @extend .link-resset;
    display: block;

    @include screen('xl') {
        // .js-on & {
            opacity: 0;
            transform: translate(0px, 30px);
        // }
    }
    
    &__inner {
        display: flex;
        position: relative;
        transform-style: preserve-3d;
        transform: perspective(700px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    }


    &__picture {
        position: relative;
        width: px-to-rem(320);
        min-width: px-to-rem(320);
        height: px-to-rem(230);
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            // background-image: linear-gradient(-90deg, rgba(0,0,0,.8), transparent 50%);
            background-image: radial-gradient(100% 139.15% at 100% 0%, #000000 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        }

        &-img {
            @include fill-img;
        }
    }

    &__main {
        position: relative;
        z-index: 1;
        width: px-to-rem(220);
        margin-left: px-to-rem(-50);
        padding: px-to-rem(12) 0 0;
        transform: translateZ(30px);
    }
    &__num {
        display: block;
        margin: 0 0 px-to-rem(50);

        &-inner {
            display: inline-block;
            margin: 0;
            font-size: px-to-rem(24);
            font-weight: 500;
            line-height: calc(32/24);
            font-style: normal;
            border-bottom: 1px solid currentColor;
        }
    }

    &__text {
        font-size: px-to-rem(20);
    }
}

.s-gallery {

    &__header {
        position: relative;
        padding: px-to-rem(120) 0 px-to-rem(190);

        &-title {
            display: inline-block;
            position: relative;
            z-index: 1;

            &-text {
                @extend .page-title;
            }
        }

        &-sign {
            position: absolute;
            top: calc(100% + 1.4rem);
            left: px-to-rem(200);
            pointer-events: none;
            

            &-img {
                display: block;
                max-width: none;
                width: px-to-rem(1043);
                height: px-to-rem(183);
            }
        }
    }

    &__main {
        position: relative;
        z-index: 1;
    }
}

// (width, padding-left)
$arrProjectColWidth: (
    (100%, 0%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 10%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 35%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
    (50%, 0%)
    (50%, 0%)
    (50%, 9%)
    (50%, 5%)
    (50%, 2%)
    (50%, 0%)
    // (100%, 36%)
    (50%, 2%)
    (50%, 5%)
    // (100%, 23%)
);

.project-list {
    display: flex;
    flex-wrap: wrap;

    &__col {
        display: flex;
        margin-bottom: px-to-rem(120);


        @for $i from 1 to length($arrProjectColWidth) + 1 {
            &:nth-child(#{$i}) {
              width: nth(nth($arrProjectColWidth, $i), 1);
              padding-left: nth(nth($arrProjectColWidth, $i), 2);
            }
          }
    }
}

