$rem: 20;
$ffManrope: 'Manrope', sans-serif;

$color1: #272424;
$color2: #AB103A;
$color3: #BEBDBD;
$color4: #DCDCDC;
$color5: #ccc;

$colorRed: #f00;

$breakpoints: (
  'xll': 1850px,
  'xl': 1200px,
  'lg': 992px,
  'md': 768px,
  'sm': 576px,
  'xs': 320px
);

$leftPagePadding: 6rem; //120px
$leftPagePaddingNegative: -6rem; //-120px

$headerHeight: 5rem; //100px