@import 'libs';
@import 'fonts';
@import 'varaibles';
@import 'mixins';
@import 'sprite';
@import 'ui';



@include sprites($spritesheet-sprites); //if icons empty will throw error


body {
  min-width: 320px;
  font-family: $ffManrope;
  font-size: 18px;
  line-height: 1.15;
  font-weight: 500;
  color: #fff;
  background: #000;
}

@media (min-width: 1400px) and (min-height: 700px) {
  html,body {
    font-size: 20px
  }
}
@media (min-width: 1400px) and (min-height: 700px) {
  html,body {
    font-size: 20px
  }
}

@media (min-width: 1601px) and (min-height: 850px) {
  html,body {
    font-size: 22px
  }
}
html,body {
  @include screen(xl, max) {
    font-size: 16px;
  }
}
html,body {
  @include screen(sm, max) {
    font-size: 14px;
  }
}


// @media (min-width: 1890px) and (min-height: 930px) {
//   html,body {
//     font-size: 20px
//   }
// }

.wrapper {
  overflow: hidden;
  padding-top: $headerHeight;
  padding-left: $leftPagePadding;
  // padding-left: px-to-rem(120);
  
  @include screen(lg, max) {
    padding-left: 0;
  }

  .main-page & {
    padding-top: 0;
  }
}


/* Back top */
.back-to-top {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: $color1;
  overflow: hidden;
  text-indent: -99999px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  @include rule(bottom, (xs: 0, xl: 50px));
  @include rule(right, (xs: 0%, xl: 3%));
  cursor: pointer;
 
  transition: 0.2s;

  &.show:hover,
  &.show:active {
    opacity: 1;
  }
  &.show {
    visibility: visible;
    opacity: 0.5;
    pointer-events: visible;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    background: none;
    transform: rotate(45deg);
  }
}

/* End Back top */
.container {
  max-width: 100%;

  padding: 0 15px;
  
  @include screen('sm') {
    padding: 0 30px;
  }
  @include screen('lg') {
    padding: 0 px-to-rem(160);

  }
  @include screen('xl') {
    padding: 0 px-to-rem(160);

  }
  @include screen('xll') {
    max-width: 1920px;
  }
}
.container-md {
  max-width: 100%;
  padding: 0 15px;

  @include screen('sm') {
    padding: 0 30px;
  }
  @include screen('lg') {
    padding: 0 px-to-rem(260);
  }

  @include screen('xll') {
    max-width: 1720px;
  }

  @include screen(xl, max) {
    // padding: 0 px-to-rem(260);
  }
}

.desktop-nml {
  margin-left: -$leftPagePadding;

  @include screen(lg, max) {
      margin-left: 0;
  }
}

.c-scrollbar {
  // position: fixed;
  // z-index: 4;
  height: 100vh;
}
.c-scrollbar_thumb {

  background-color: #fff;

}

.is-reveal-on .text-cover {
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-clip: no-clip;
  mask-clip: no-clip;
  -webkit-mask-image: linear-gradient(170deg, black 0%, rgba(255,255,255,0) 0%);
  -webkit-mask-size: cover
}

.is-reveal-on .fade-in-up {
  transform: translate(0, 20px);
  opacity: 0;
}

  

.s-main-top {
  
}

.feedback {
  overflow: visible;
  &__form {
    position: relative;
  }

  &__main {
    .is-form-sent & {
      opacity: 0;
      transform: translateY(-20px);
      pointer-events: none;
      transition: 0.3s;
    }
  }

  &__title {
    @extend .section-title;
    display: block;
    margin: 0 0 px-to-rem(40);
  }

  &__text {
    display: block;
    margin: 0 0 20px;
    text-align: center;
    font-size: 16px;
  }

  &__fields {
    margin: 0 0 60px;

    &-item {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;

    &-submit {
      margin: 0 50px 0 0;
      font-size: 20px;
    }
  }

  &__agree {
    font-size: 14px;
    max-width: 300px;
  }
  
  &__succeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin: 0;
    position: absolute;
    width: 110%;
    left: -5%;
    top: 50%;
    opacity: 0;
    transform: translateY(0);
    pointer-events: none;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    
    .is-form-sent & {
      opacity: 1;
      transform: translateY(-50%);
      pointer-events: visible;
    }

    &-icon {
      margin: 0 0 36px;

      .svg-icon {
        width: 60px;
        height: 60px;
        color: $color5;

        @include screen('lg') {
            width: 109px;
            height: 109px;
        }
      }
    }

    &-title {
        margin: 0 0 24px;
    }
    &-text {
        margin: 0 0 34px;
        font-size: 16px;
    }

  }
}

.s-feedback {
  padding: px-to-rem(75) 0 px-to-rem(75);
  margin-bottom: px-to-rem(75);

  &__form {
    max-width: px-to-rem(740);
    margin: 0 auto;
  }
}


.write-us {
  overflow: visible;
  &__form {
    position: relative;
  }

  &__main {
    .is-form-sent & {
      opacity: 0;
      transform: translateY(-20px);
      pointer-events: none;
      transition: 0.3s;
    }
  }

  &__title {
    @extend .section-title;
    display: block;
    margin: 0 0 px-to-rem(40);
  }

  &__text {
    display: block;
    margin: 0 0 20px;
    text-align: center;
    font-size: 16px;
  }

  &__fields {
    margin: px-to-rem(-60) px-to-rem(-30) px-to-rem(60);
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 100%;
      padding: px-to-rem(60) px-to-rem(30) 0;     

      &--third-part {
        width: 33.3333%;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;

    &-submit {
      margin: 0 50px 0 0;
      font-size: 20px;
    }
  }

  &__agree {
    font-size: 14px;
    max-width: 300px;
  }
  
  &__succeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin: 0;
    position: absolute;
    width: 110%;
    left: -5%;
    top: 50%;
    opacity: 0;
    transform: translateY(0);
    pointer-events: none;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    
    .is-form-sent & {
      opacity: 1;
      transform: translateY(-50%);
      pointer-events: visible;
    }

    &-icon {
      margin: 0 0 36px;

      .svg-icon {
        width: 60px;
        height: 60px;
        color: $color5;

        @include screen('lg') {
            width: 109px;
            height: 109px;
        }
      }
    }

    &-title {
        margin: 0 0 24px;
    }
    &-text {
        margin: 0 0 34px;
        font-size: 16px;
    }

  }
}

.s-write-us {
  padding: px-to-rem(75) 0 px-to-rem(75);
  margin-bottom: px-to-rem(75);

  &__form {
    max-width: px-to-rem(1000);
  }
}


.s-error {
  position: relative;
  z-index: 1 ;
  margin-top: -$headerHeight;
  padding-top: $headerHeight;
  height: 100vh;
  min-height: 500px;


  
  &__inner {
      position: relative;
      z-index: 2;
      height: 100%;
      display: flex;
      align-items: center;      
  }

  &__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        pointer-events: none;
      }
      
      &-img {
          @include fill-img;
          // margin-top: -50vh; 
          // width: auto;
          // height: auto;
          // min-width: 100%;
          // min-height: 100%;
      }
  }



  &__block {
      &-inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
  }

  &__icon {
    display: block;
    margin: 0 0 px-to-rem(47);

    &-img {
      display: block;
      width: px-to-rem(96);
      height: px-to-rem(96);
    }
  }
  &__text-1 {
    display: block;
    margin: 0 0 px-to-rem(5);
    font-size: px-to-rem(40);
    font-weight: 700;
    line-height: calc(55/40);
    font-style: normal;
    opacity: 0.8;

    @include screen(sm, max) {
      margin: 0 0 px-to-rem(15);
      font-size: px-to-rem(30);
    }
  }

  &__text-2 {
    display: block;
    margin: 0 0 px-to-rem(80);
    font-size: px-to-rem(25);
    font-weight: 500;
    line-height: calc(34/25);
    font-style: normal;
    opacity: 0.8;
    
    @include screen(sm, max) {
      font-size: px-to-rem(20);
    }
  }
  &__text-3 {
    display: block;
    margin: 0 0 px-to-rem(55);
    font-size: px-to-rem(25);
    font-weight: 500;
    line-height: calc(34/25);
    font-style: normal;
    opacity: 0.8;

    @include screen(sm, max) {
      font-size: px-to-rem(20);
    }
  }
}


.certificate-item {
  @extend .link-resset;
  display: block;
  max-width: px-to-rem(240);
  margin: 0 auto;
 
  &__inner {
    display: block;
    position: relative;

    &::after {
      content: '';
      display: block;
      padding-bottom: 150%;
    }
  }


  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: -2px;
      left: 0;
      z-index: 1;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.65%, rgba(0, 0, 0, 1) 100%),;
    }

    &-img {
      @include fill-img;
    }
  }

  &__inf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: px-to-rem(17) px-to-rem(22);

    font-size: px-to-rem(18);
    font-weight: 400;
    line-height: calc(32/24);
    font-style: normal;

    &-label {
      display: block;
      margin: 0;
      font-weight: 800;
      font-size: px-to-rem(26);
    }
    &-year {
     
    }
  }

  
}


.s-content {
  position: relative;
  z-index: 1 ;
  // margin-top: -$headerHeight;
  padding: px-to-rem(100) 0 px-to-rem(150);
  overflow: hidden;

  background: #fff;
  color: #000;

  @include screen(md, max) {
    padding: px-to-rem(60) 0 px-to-rem(100);
  }
  
  &__inner {
  }


  &__header {
    margin-bottom: px-to-rem(200);

    @include screen(md, max) {
      margin-bottom: px-to-rem(100);
    }
    
    &-inner {
      max-width: px-to-rem(1200);
    }

    &-row {
      display: flex;

      @include screen(md, max) {
          flex-direction: column-reverse;
          align-items: center;
      }
    }

    &-col-img {
      width: px-to-rem(340);
      flex-shrink: 0;
      margin-right: px-to-rem(60);
      
      @include screen(md, max) {
        margin: 0;
      }
      
    }
    &-col-main {
      @include screen(md, max) {
        margin-bottom: 20px;
      }
    }

    &-img {
      max-width: 100%;
      height: auto;
    }

    &-title {
      @extend .page-title;
      display: block;
      margin: px-to-rem(-16) 0 px-to-rem(25);
      font-size: px-to-rem(50);
      font-weight: 500;
      line-height: calc(68/50);
      font-style: normal;
    }

    &-text {
      display: block;
      margin: 0 0 px-to-rem(30);
    }

    &-more {
        @extend .link-resset;
        display: inline-block;
        transition: color 0.3s;

        @include hover {
            color: rgba(0, 0, 0, 0.7);
        }

        // @include screen('xl') {
        //     opacity: 0;
        //     .is-show-content & {
        //         opacity: 1;
        //     }
        // }

        &-icon {
            display: block;

            .svg-icon {
                width: px-to-rem(67);
                height: px-to-rem(67);

                fill: none;
                stroke: currentColor;
            }
        }
    }


  }

  &__body {
  }
  &__text {
    font-size: px-to-rem(30);

    @include screen(md, max) {
      font-size: px-to-rem(24);
    }

    &-title {
      @extend .page-title;
      margin-bottom: px-to-rem(60);

      @include screen(md, max) {
        margin-bottom: px-to-rem(40);
      }
    }

    table {
      // @include screen(sm, max) {
      //   display: flex;
      //   flex-direction: column;
      // }

      tr {
        @include screen(sm, max) {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid currentColor;
          padding-bottom: px-to-rem(40);

        }
      }

      th,
      td {
        padding-bottom: px-to-rem(40);

        @include screen(sm, max) {
          padding-bottom: 2px;
          text-align: left !important;
          border: none;
        }

      }
      
    }

  }
}



.breadcrumbs-block {
  margin-bottom: 35px;
  padding-top: px-to-rem(50);

  @include screen(md, max) {
    margin-bottom: 25px;
    padding-top: px-to-rem(30);
  }

  
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  @include rule(flex-wrap, (xs: nowrap, lg: wrap));
  @include rule(overflow-x, (xs: auto, lg: hidden));;
  align-items: center;
  font-size: px-to-rem(16);
  line-height: 1.5;
  font-weight: 400;
  color: inherit;
  
  &__item {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &__link {
    @extend .link-resset;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s;

    @include hover {
      opacity: 0.7;
    }
  }

  &__sep {
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px;
      text-decoration: none;
      font-weight: 300;
      font-style: normal;
  }
}




@import 'header';
@import 'footer';
@import 'main-page';
@import 'projects';
@import 'services';
@import 'directions';
@import 'about';
@import 'articles';
@import 'contacts';