@import 'libs';
@import 'fonts';
@import 'varaibles';
@import 'mixins';
@import 'sprite';
@import 'ui';

@import 'header';
@import 'footer';
@import 'main-page';
@import 'projects';
@import 'services';
@import 'directions';

@include sprites($spritesheet-sprites); //if icons empty will throw error


body {
  min-width: 320px;
  font-family: $ffManrope;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 500;
  color: #fff;
  background: #000;
}

@media (min-width: 1400px) and (min-height: 700px) {
  html,body {
    font-size: 18px
  }
}

@media (min-width: 1601px) and (min-height: 850px) {
  html,body {
    font-size: 20px
  }
}

// @media (min-width: 1890px) and (min-height: 930px) {
//   html,body {
//     font-size: 20px
//   }
// }

.wrapper {
  overflow: hidden;
  padding-top: $headerHeight;
  padding-left: $leftPagePadding;
  // padding-left: px-to-rem(120);

  .main-page & {
    padding-top: 0;
  }
}


/* Back top */
.back-to-top {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: $color1;
  overflow: hidden;
  text-indent: -99999px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  @include rule(bottom, (xs: 0, xl: 50px));
  @include rule(right, (xs: 0%, xl: 3%));
  cursor: pointer;
 
  transition: 0.2s;

  &.show:hover,
  &.show:active {
    opacity: 1;
  }
  &.show {
    visibility: visible;
    opacity: 0.5;
    pointer-events: visible;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    background: none;
    transform: rotate(45deg);
  }
}

/* End Back top */
.container {
  max-width: 100%;

  padding: 0 px-to-rem(160);

  @include screen('xll') {
    max-width: 1920px;
  }
}
.container-md {
  max-width: 100%;

  padding: 0 px-to-rem(260);

  @include screen('xll') {
    max-width: 1720px;
  }
}

.desktop-nml {
  margin-left: -$leftPagePadding;
}

.c-scrollbar {
  // position: fixed;
  // z-index: 4;
  height: 100vh;
}
.c-scrollbar_thumb {

  background-color: #fff;

}

.is-reveal-on .text-cover {
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-clip: no-clip;
  mask-clip: no-clip;
  -webkit-mask-image: linear-gradient(170deg, black 0%, rgba(255,255,255,0) 0%);
  -webkit-mask-size: cover
}

.is-reveal-on .fade-in-up {
  transform: translate(0, 20px);
  opacity: 0;
}

  
.breadcrumbs-block {
  @include rule(margin, (xs: 0 0 25px, lg: 0 0 35px));
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  @include rule(flex-wrap, (xs: nowrap, lg: wrap));
  @include rule(overflow-x, (xs: auto, lg: hidden));;
  align-items: center;
  // font-family: $ffRoboto;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: inherit;
  
  &__item {
      display: inline-flex;
      align-items: center;
      font-weight: 400;
      white-space: nowrap;
      text-decoration: none;
      word-wrap: break-word;
      overflow-wrap: break-word;
  }

  &__link {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s;

      @include hover {
          color: $color1;
      }
  }

  &__sep {
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px;
      text-decoration: none;
      font-weight: 300;
      font-style: normal;
  }
}



.s-main-top {
  
}

.feedback {
  overflow: visible;
  &__form {
    position: relative;
  }

  &__main {
    .is-form-sent & {
      opacity: 0;
      transform: translateY(-20px);
      pointer-events: none;
      transition: 0.3s;
    }
  }

  &__title {
    @extend .section-title;
    display: block;
    margin: 0 0 px-to-rem(40);
  }

  &__text {
    display: block;
    margin: 0 0 20px;
    text-align: center;
    font-size: 16px;
  }

  &__fields {
    margin: 0 0 60px;

    &-item {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;

    &-submit {
      margin: 0 50px 0 0;
    }
  }
  &__submit {
    text-align: center;
  }

  &__agree {
    font-size: 14px;
    max-width: 300px;
  }
  
  &__succeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin: 0;
    position: absolute;
    width: 110%;
    left: -5%;
    top: 50%;
    opacity: 0;
    transform: translateY(0);
    pointer-events: none;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    
    .is-form-sent & {
      opacity: 1;
      transform: translateY(-50%);
      pointer-events: visible;
    }

    &-icon {
      margin: 0 0 36px;

      .svg-icon {
        width: 60px;
        height: 60px;
        color: $color5;

        @include screen('lg') {
            width: 109px;
            height: 109px;
        }
      }
    }

    &-title {
        margin: 0 0 24px;
    }
    &-text {
        margin: 0 0 34px;
        font-size: 16px;
    }

  }
}

.s-feedback {
  padding: px-to-rem(75) 0 px-to-rem(75);
  margin-bottom: px-to-rem(75);

  &__form {
    max-width: px-to-rem(740);
  }
}




